@import url('https://fonts.googleapis.com/css?family=Exo|Roboto:100,200,300,400,500,600,700&display=swap');

header{
margin: 0px;
}
.logo {
    background: url("../images/rosie.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 360px;
    width: 360px;
    display: block;
    transition: all 5s ease-in-out;
    -moz-transition: all 5s ease-in-out;
    -webkit-transition: all 5s ease-in-out;
}
h1{
    color: rgb(255, 200, 50);
}
