@import url('https://fonts.googleapis.com/css?family=Exo|Roboto:100,200,300,400,500,600,700&display=swap');

/*------------------------Color------------*/
.bg-color-name-title{
    background-color: #676767;
}
.ui-menu-color-home{
    background-color: #ada30b;
}
.ui-menu-color-portfolio{
    background-color: #2b2433;
}
.ui-menu-color-resume{
    background-color: #7c4c88;
}
.ui-menu-color-contact{
    background-color: #2260e6;
}
.ui-menu-color-github{
    background-color: #3f031ad2;
}
.ui-menu-color-download{
    background-color: #085f13;
}
.bg-color-three-reasons{
    background-color: white;
}
.bg-color-personal-info{
    background-color: #f4f4f4;
}
.bg-color-work-history{
    background-color: #7c4c88;
}
.bg-color-contact{
    background-color: #fff;
}
.lan-option{
    color: #fff;
}
.lan-option:hover{
    color: rgb(223, 223, 223);
}
/*------------------------Special/paddings/margins/text------------*/
h1, h1, h3, h4{
    margin: 0;
}
.uppercase{
    text-transform: uppercase;
}
.general-sub{
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}
.inline-block{
    display: inline-block;
}
.row-table{
    display: table;
}
.section-column{
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}
.history-heading,
.section-heading{
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}
.educa{
    padding:auto;
    margin: auto; 
}
.show-more{
    font-size: 14px;
}
div.achiv ul li {
    list-style-type:disc;
    display : list-item;
}
.dropdown ul li{
  padding-bottom: 10px;

}
.dropdown ul li a{
  text-decoration: none;
  color: black;
}
/*------------------------Heading------------*/
header{
margin: 0px;
}
.heading{
    margin-left: 50px;
}
.logo {
    background: url("../images/ninos_pic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all 6s ease-in-out;
    -moz-transition: all 5s ease-in-out;
    -webkit-transition: all 5s ease-in-out;
}
.name{
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    color: #fff;
    margin-top: 50px;
}
.educa-ski{
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.code-institute{
    font-style: italic;
    font-weight: bold;
    color: #f05323

}
.learnd{
    font-style: italic;
    font-weight: bold; 
}
.title{
    font-family: "Roboto",sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}
.profile{
    font-family: "Roboto",sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}
.list-inline-item:not(:last-child){
    margin: 0;
}
.menucontainer{
    font-size: 0;
}
#nav{
    margin: 0;
}

#nav li{
    font-size: 14px;
    padding: 0;
}

.menuitem{
    height: 120px;
    text-align: center;
    padding: 0;
}
.menuitem a{
    width: 100%;
    text-decoration: none;
    color: white;
    height: 120px;
}
.menuitem a i{
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;

}
.menuitem span{
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
}
/*------------------------Hover.css------------*/
.hvr-sweep-to-bottom:before{
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}
/*------------------------Footer------------*/
footer{
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}
.cv-pdf i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -wekit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.cv-pdf i:hover{
    color: #e84610;
}
.social-links{
    padding-bottom: 15px;
}
.social-links li a i{
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -wekit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;   
}
.social-links li a i:hover{
    background: #3298eb;
}
#footer-details{
 padding: 20px;
}
/*------------------------Three reasons------------*/
.three-reasons-icon{
    font-size: 26px;
    color: #e67e22;

}
.three-reasons-heading{
    margin-bottom: 15px;
}
/*------------------------Personal Info------------*/

.personal-info-item{
    margin-bottom: 20px;
    display: block;
    clear: both;
}
.personal-info-item .key,
.personal-info-item .value{
    padding-right: 8px;
    display: inline-block;
}
.personal-info-item .key p,
.personal-info-item .value p{
    margin: 0;
}
.personal-info-item .key{
    width: 20%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;

}
.personal-info-item .key p{
    font-weight: 700;
}
.personal-info-item .value p{
    position: relative;
}
/*------------------------Skills------------*/
.progress{
    height: 25px;
    position: relative;
    margin-bottom: 4px;
}
.progress-type{
    position: absolute;
    left:0px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: #fafafa;
    background-color: rgba(25, 25, 25, 0.2);

}
.progress-section{
    margin: 40px 20px;

}
/*------------------------Work History------------*/

.history-heading{
    color: #fafafa;
    margin-bottom: 40px;
}
.timeline-item{
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
}
.timeline-item p {
    padding: 0;
    margin: 0;
}
.timeline-item:before{
    content: attr(data-dates);
    position: absolute;
    left:2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-size: 0.8em;
    font-weight: 500;
    padding: 0;
    margin: 0;
}
.timeline-item:after{
 width: 12px;
 height: 12px;
 display: block;
 top: 2.4em;
 position: absolute;
 left: -6px;
 border-radius: 12px;
 content: "";
 background: #fafafa;
}
.history-items{
    margin-bottom: 40px;
}
/*------------------------Contact Form------------*/
.contact-heading{
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}
.center-form{
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}
button[type="submit"]{
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #2260e6;
}
button[type="submit"]:hover{
    background-color:#2260e6b0; 
}

/*-------------GitHup-----------------------------*/
@import url('http://fonts.googleapis.com/css?family=Roboto');

br {
  display: block;
  line-height: 1.6em;
}



ol,
ul {
  list-style: none;
}

input,
textarea {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

strong,
b {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  max-width: 100%;
}



/* page structure */

#search-area {
  display: block;
  max-width: 70%;
  margin: 0 auto;
  background: #fff;
  padding: 15px 25px;
  -webkit-box-shadow: 1px 2px 3px -1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 2px 3px -1px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 2px 3px -1px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#gh-api-data {
  display: block;
  padding: 25px 0;
}

#loader {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}


/* page content styles */

.small-name {
  font-size: 0.75em;
  color: #a9a9a9;
  font-style: italic;
}

.avi {
  float: left;
  margin-right: 7px;
  margin-bottom: 7px;
}

.avi img {
  border: 1px solid #ccc;
  padding: 3px;
}

.repo-list {
  display: block;
  clear: both;
  width: 100%;
}

.repo-list ul {
  font-size: 1.2em;
}

.repo-list ul li {
  display: block;
}

.repo-list ul li a {
  font-weight: bold;
  padding: 6px 9px;
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  border: 1px solid #356492;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  background-color: #3673af;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5597d8), to(#3673af));
  background-image: -webkit-linear-gradient(top, #5597d8, #3673af);
  background-image: -moz-linear-gradient(top, #5597d8, #3673af);
  background-image: -ms-linear-gradient(top, #5597d8, #3673af);
  background-image: -o-linear-gradient(top, #5597d8, #3673af);
  background-image: linear-gradient(top, #5597d8, #3673af);
}

.repo-list ul li a:hover {
  background-color: #396895;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4b87c2), to(#396895));
  background-image: -webkit-linear-gradient(top, #4b87c2, #396895);
  background-image: -moz-linear-gradient(top, #4b87c2, #396895);
  background-image: -ms-linear-gradient(top, #4b87c2, #396895);
  background-image: -o-linear-gradient(top, #4b87c2, #396895);
  background-image: linear-gradient(top, #4b87c2, #396895);
}

.repo-list ul li a:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
}

.repo-list ul li a span {
  font-family: "Courier New", Courier, "Lucida Typewriter", monospace;
  font-size: 0.9em;
}

/* input field */

#gh-username {
  display: block;
  padding: 5px 8px;
  font-size: 1.4em;
  color: #666;
  max-width: 550px;
  margin-bottom: 15px;
}
.flex-wrapper{
  display: flex;
  min-height: 50vh;
  flex-direction: column;
  justify-content: space-between
}

#gh-submit {
  display: inline-block;
  padding: 8px 18px;
  font-size: 14px;
  font-weight: bold;
  color: #444;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  background-color: #eaeaea;
  background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
  background-image: -moz-linear-gradient(#fafafa, #eaeaea);
  background-image: -ms-linear-gradient(top, #fafafa, #eaeaea);
  background-image: -o-linear-gradient(top, #fafafa, #eaeaea);
  background-image: linear-gradient(#fafafa, #eaeaea);
  border-radius: 3px;
  border: 1px solid #ddd;
  border-bottom-color: #c5c5c5;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

#gh-submit:hover {
  background-color: #dadada;
  background-image: -webkit-linear-gradient(#eaeaea, #dadada);
  background-image: -moz-linear-gradient(#eaeaea, #dadada);
  background-image: -ms-linear-gradient(top, #eaeaea, #dadada);
  background-image: -o-linear-gradient(top, #eaeaea, #dadada);
  background-image: linear-gradient(#eaeaea, #dadada);
  border-color: #ccc #ccc #b5b5b5;
}

#gh-submit:active {
  background-color: #dadada;
  background-image: none;
  border-color: #b5b5b5;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.25);
}
/*-------------End GitHup-----------------------------*/
/*------------------------Media Queries------------*/
@media(min-width:992px){
.center-form{
    padding-top: 30px;
    min-height: 240px;
    margin: 0 auto;
    max-width: 50%;
}


}


body {
  margin: 0;
  padding: 0;
  background: #e6e6e6;
  color: #323232;
  font-family: "Open Sans", sans-serif;
  font-size: 112.5%;
  line-height: 1.6em;
}

.timeline {
  position: relative;
  width: 860px;
  margin: 0px auto;
  padding: 20px;
  list-style-type: none;
}
@media (max-width: 860px) {
  .timeline {
    width: 100%;
    padding: 4em 0 1em 0;
  }
  .educa{
    padding-left:50px;
    margin-left: 40px; 
}
}
.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: " ";
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: #505050;
  z-index: 5;
}
.timeline li {
  padding: 1em 0;
}
@media (max-width: 860px) {
  .timeline li {
    padding: 2em 0;
  }
}
.timeline li::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 400px;
  float: left;
  text-align: right;
}
@media (max-width: 860px) {
  .direction-l {
    float: none;
    width: 100%;
    text-align: center;
  }
}
.direction-l .flag {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: #f8f8f8;
  border-width: 8px;
  pointer-events: none;
}
@media (max-width: 860px) {
  .direction-l .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: white;
    border-width: 8px;
    pointer-events: none;
  }
}
.direction-l .time-wrapper {
  float: left;
}
@media (max-width: 860px) {
  .direction-l .time-wrapper {
    float: none;
  }
}

.direction-r {
  position: relative;
  width: 400px;
  float: right;
}
@media (max-width: 860px) {
  .direction-r {
    float: none;
    width: 100%;
    text-align: center;
  }
}
.direction-r .flag {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}
.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: #f8f8f8;
  border-width: 8px;
  pointer-events: none;
}
@media (max-width: 860px) {
  .direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: white;
    border-width: 8px;
    pointer-events: none;
  }
}
.direction-r .flag:before {
  left: -40px;
}
.direction-r .time-wrapper {
  float: right;
}
@media (max-width: 860px) {
  .direction-r .time-wrapper {
    float: none;
  }
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}
@media (max-width: 860px) {
  .flag-wrapper {
    text-align: center;
  }
}
.flag-wrapper .flag {
  position: relative;
  display: inline;
  background: #f8f8f8;
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 600;
  text-align: left;
}
@media (max-width: 860px) {
  .flag-wrapper .flag {
    background: white;
    z-index: 15;
  }
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: " ";
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid #58b96b;
  z-index: 10;
}
@media (max-width: 860px) {
  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: -30px;
    left: 50%;
    content: " ";
    display: block;
    margin-left: -10px;
  }
}

.time-wrapper {
  display: inline;
  line-height: 1em;
  font-size: 0.66666em;
  color: #58b96b;
  vertical-align: middle;
}
@media (max-width: 860px) {
  .time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
  }
.value p{
    padding-left: 10px;
}
}
.time-wrapper .time {
  display: inline-block;
  padding: 4px 6px;
  background: #f8f8f8;
}

.desc {
  margin: 1em 0.75em 0 0;
  font-size: 0.9em;
  font-style: italic;
  line-height: 1.5em;
}
.desc a {
  color: #58b96b;
  text-decoration: none;
}
.desc a:hover {
  text-decoration: underline;
}
@media (max-width: 860px) {
  .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    background: whitesmoke;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    z-index: 15;
  }
}


/*-------------Portfolio-----------------------------*/

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.cards {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 15px;
  padding: 1.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 30px;
  background: #fefff9;
  color: #363636;
  text-decoration: none;
  -moz-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
@media (max-width: 700px) {
  .card {
    width: 100%;
  }
}
@media (min-width: 700px) {
  .card {
    max-width: 320px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .card:nth-child(even) {
    margin-right: 0;
  }
}
@media (min-width: 980px) {
  .card:nth-child(even) {
    margin-right: 20px;
  }
  .card:nth-child(3n) {
    margin-right: 0;
  }
}
.card span {
  display: block;
}
.card .card-summary {
  padding: 5% 5% 3% 5%;
}
.card .card-header {
  position: relative;
  height: 175px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.15);
  background-blend-mode: overlay;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 0 0;
}
.card .card-header:hover, .card .card-header:focus {
  background-color: rgba(255, 255, 255, 0);
}
.card .card-title {
  background: rgba(157, 187, 63, 0.85);
  padding: 3.5% 0 2.5% 0;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.card .card-title h3 {
  font-size: 1.2em;
  line-height: 1.2;
  padding: 0 3.5%;
  margin: 0;
}
.card .card-meta {
  max-height: 0;
  overflow: hidden;
  color: #666;
  font-size: .78em;
  text-transform: uppercase;
  position: absolute;
  bottom: 5%;
  padding: 0 5%;
  -moz-transition-property: max-height;
  -o-transition-property: max-height;
  -webkit-transition-property: max-height;
  transition-property: max-height;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.card:hover, .card:focus {
  background: white;
  -moz-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
}
.card:hover .card-title, .card:focus .card-title {
  background: rgba(157, 187, 63, 0.95);
}
.card:hover .card-meta, .card:focus .card-meta {
  max-height: 1em;
}

img {
  max-width: 100%;
}

body {
  background: #f0f0f0;
  font-size: 17px;
  line-height: 1.4;
  font-family: 'Jaldi', sans-serif;
}

* {
  -moz-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -moz-transform;
  -o-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -o-transform;
  -webkit-transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, -webkit-transform;
  transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

